<!Doctype html>
<html>
    <head>
        <title>AM tech</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kalam|Source+Code+Pro:400,600" rel="stylesheet">        
        <link rel="stylesheet" href="../stylesheet/app.css">
        
    </head>
    <body>
        
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-brand">
                    <a class="active"><span class="glyphicon glyphicon-education"></span>AM Advisory</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/service">Services</a></li>
                    <li><a>About us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            
        </div>
        
