<% include ./partials/header %>

<div class="container">
    <h2 style="text-align:center">Contact info</h2>
  
        <table class="table table-bordered">
         <thead>
             <tr>
                 <td>Email</td>
                 <td>Phone</td>
                 <td>Post</td>
             </tr>
         </thead>   
         <tbody>
             <tr>
                 <td>Ash@amadvisory.com.au</td>
                 <td>Office (Sydney) 02 78014839</td>
                 <td>Sydney Office</td>
             </tr>
                  <td>Mahesh@amadvisory.com.au</td>
                 <td>	Office (Hobart) 03 62954420</td>
                 <td>Suite 6, Level 3 410 Church Street Parramatta NSW 2150</td>
             </tr>
             <tr>
                 <td>Accounts@amadvisory.com.au</td>
                 <td>Ash 0412493661, Mahesh 0401934386</td>
                 <td></td>
             </tr>
         </tbody>
        </table>
   
</div>







<% include ./partials/footer %>