<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" id="photo" src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-9/14354888_10153971476399001_1788709991634649976_n.jpg?oh=b2b85ae8660511d669ce8b92f8bba000&oe=5918BF56">
            </div>
            <p class="lead">
                
                <h3>Introducing our brand: AM ADVISORY. ‘Shifting Accountants role into Advisory’</h3>
                    Being co-founders, we are stepping up from the conventional role of an accountant to take up role of advisors who go beyond crunching numbers, and produce real value to our clients, mainly businesses that are small-to-medium sizes in terms of their revenue generation capacity. Historically, accountants have been perceived as someone whose skills would be limited to crunching historical financial numbers, and even more so, someone who would only provide ‘support role’ to the mainstream business processes, and that their service is just an ‘overhead’ with no ‘value creation or addition’ in the whole process.
                    Being co-founders, we are setting ourselves up to the role of an Advisor for small businesses (annual turnover <$2Million)-to-medium businesses (annual turnover between $2Million & $20Million). As your business’s advisors, we will do the same sort of strategic and advisory work a chief financial officer would do in a larger company.
                    We will assist you
                <ul class="list-group">
                      <li class="list-group-item">On the day-to-day running of your business, analyse your financial data and performance; </li>
                        <li class="list-group-item">Identify growth opportunities by providing insights on cash flow</li>
                        <li class="list-group-item">Advise you on an optimal debt-equity structure to leverage on ever declining cost of financing (interest) thereby freeing up your equity towards your business expansion;</li>
                        <li class="list-group-item">Assist your business source its needed finance at lowest possible finance cost that best reflect your circumstance; even provide you with short-term finance from our own fund; </li>
                        <li class="list-group-item">Advise you on improving your business’s overall ROI;</li>
                        <li class="list-group-item"> Advise you on which KPIs you need to grow your business, and assist you formulate a plan to hit them;</li>
                        <li class="list-group-item">Advise you on proven & legitimate strategies to optimise your overall tax liabilities.</li>
                      
                      <strong>AM ADVISORY. – ‘We are Advisors’</strong>
                  </ul>  
            </p>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                            <img class="img-responsive" src="https://scontent-dft4-1.xx.fbcdn.net/v/t1.0-1/p200x200/13707752_328742297458577_8794893952675165266_n.jpg?oh=2514251592f1de3250496e2105fa41ce&oe=58FDA28F">
                <div class="caption">
                    <p id="storyPoint" class="alert alert-info lead"></p>
                </div>                
            
            </div>
        </div>
    </div>
</div>

   <script src="../script/index.js"></script>










<% include ./partials/footer %>