<% include ./partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="thumbnail">
                <img class="img-responsive" src ="../images/business.jpg">
                <ul class="nav navbar-pills navbar-stacked">
                    <li><a>Startup</a></li>
                    <li><a>Franchises</a></li>
                    <li><a>Capital Structuring</a></li>
                    <li><a>Growth Strategy</a></li>
                    <li><a>Asset Protection Strategy</a></li>
                   <li><a>Valuation Buy & Sell</a></li>
                    <li><a>Record keeping and Payroll</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
            <div class="thumbnail">
                <img class="img-responsive" src ="../images/finance.jpg">
                <ul class="nav navbar-pills navbar-stacked">
                    <li><a>Commercial or Business Loan</a></li>
                    <li><a>Asset Equipment Finance</a></li>
                    <li><a>Insurance</a></li>
                    <li><a>Refinance and Debt Consolidation</a></li>
                    <li><a>SMSF Loan</a></li>
                </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
            <div class="thumbnail">
                <img class="img-responsive" src ="../images/taxation.jpg">
                <ul class="nav navbar-pills navbar-stacked">
                    <li><a>Business tax Advisory</a></li>
                    <li><a>Structuring for tax effictiveness</a></li>
                    <li><a>Tax optimization Strategy</a></li>
                    <li><a>Tax Return -Company, sole Traders,Parnership,Trusts,Individual</a></li>
                    <li><a>Preparation of BAS,GST,FBT,PAYG WithHolding</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer %>